--extra-index-url https://download.pytorch.org/whl/cu118

numpy
opencv-python
scikit-image==0.21.0
tk==0.1.0
pillow==9.5.0
onnx
onnxruntime
protobuf
torch
torchvision
torchaudio
tqdm
ftfy
regex
scikit-image
tk
urllib3
opencv-contrib-python
ffmpeg
pyinstaller
